.logo-div{
  width: 50%;
  margin: 0 auto;
  margin-top: 32px;
  border-radius: 8px;

}

.logo{
  height: 131px;
  width: auto;
  padding-left: 2px;
}

.hero{
  background-color: #3F434E;
  height: 60vh;
  width: 100%;
  position: absolute;
}

.focalimage{
  position: absolute;
  top: -21px;
  right: -142px;
}
